body{
    background-image: url('https://img.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148812993.jpg?w=2000');
    
}
div{
    display: inline-block;
}
.imagem{
    width: 250px;
    height: 350px;
    border: 2px;
    border-style: solid;
    border-radius: 150px;
    border-color: black;
    border-width: 3px;
}
.sobre{
    text-align: left;
    font-style: italic;
    font-weight: bold;
}   
.header{
    text-align: center;
}
.redes{
    width: 90px;
    height: 90px;
    border-style: solid;
    border-radius: 50px;
    border-color: gray;
}
.logo{
    width: 220px;
    height: 130px;
}
